extends ../master

block title
    title Shoe - 404

block page_header
    .ps-404.bg--cover(data-background="images/background/404.jpg")
        .ps-404__content
            h1 404
            h3 Page not found
            p The page you are looking for might have been removed, had its name changed, or is temporarily unavailable.
            a(href='index.html').ps-btn Back to home
                i.ps-icon-next
















