extends ../master

block title
    title Shoe - About

block page_header

    - var currentPage = 'grid'
    include ../utils/mixins
    include ../partials/header
block page_content
    include ../partials/about
    include ../partials/sections/home-contact
    include ../partials/sections/subscribe

block page_footer
    include ../partials/footer












