extends ../master

block title
    title Shoe - Cart
block page_header
    - var currentPage = 'grid'
    include ../utils/mixins
    include ../partials/header
block page_content
    include ../partials/cart
    include ../partials/sections/subscribe

block page_footer
    include ../partials/footer












