extends ../master

block title
    title Shoe - Checkout

block page_header

    - var currentPage = 'grid'
    include ../utils/mixins
    include ../partials/header
block page_content
    include ../partials/checkout
    include ../partials/sections/subscribe

block page_footer
    include ../partials/footer












