extends ../master

block title
    title Shoe - Homepage #3

block page_header

    - var currentPage = 'homepage'
    include ../utils/mixins
    include ../partials/header

block page_content

    include ../partials/sections/slider-3
    include ../partials/sections/home-3-offer
    include ../partials/sections/home-3-product
    include ../partials/sections/home-3-features
    include ../partials/sections/home-3-topsale
    include ../partials/sections/home-3-hotdeal
    include ../partials/sections/home-testimonial
    include ../partials/sections/home-blog
    include ../partials/modules/partner
    include ../partials/sections/home-contact
    include ../partials/sections/subscribe

block page_footer
    include ../partials/footer











