extends ../master

block title
    title Shoe - Product Listing
block page_header

    - var currentPage = 'homepage'
    include ../utils/mixins
    include ../partials/header

block page_content
    include ../partials/product-listing
    include ../partials/sections/subscribe
block page_footer
    include ../partials/footer











