block module
    include ../data/post
    .ps-blog-grid.pt-80.pb-80
        .ps-container
            .row
                +column({cols: [9, 9, 12, 12]})
                    each val in blog_list
                        .ps-post--2
                            .ps-post__thumbnail
                                a(href='#').ps-post__overlay
                                img(src=val.imagepath alt="")
                            .ps-post__container
                                header.ps-post__header
                                    a(href='blog-detail.html').ps-post__title #{val.title}
                                    p Posted by <a href="blog-grid.html">Alena Studio</a> on August 17, 2016  in <a href="blog-grid.html">Men Shoes</a> , <a href="blog-grid.html">Stylish</a>
                                .ps-post__content
                                    p #{val.description}
                                footer.ps-post__footer
                                    a(href='#').ps-post__morelink READ MORE
                                        i.ps-icon-arrow-left
                                    .ps-post__actions
                                        span
                                            i.fa.fa-comments
                                            |  23 Comments
                                        span
                                            i.fa.fa-heart
                                            |   likes
                                        .ps-post__social
                                            i.fa.fa-share-alt
                                            a(href='#') Share
                                            ul
                                                li: a(href='#'): i.fa.fa-facebook
                                                li: a(href='#'): i.fa.fa-twitter
                                                li: a(href='#'): i.fa.fa-google-plus

                    .mt-30
                        include ../partials/modules/pagination
                +column({cols: [3, 3, 12, 12]})
                    include ../partials/modules/blog-sidebar