block module
    include ../data/list

    .ps-contact.ps-section.pb-80
        #contact-map(data-address="New York, NY" data-title="Shoe Store!" data-zoom="17")
        .ps-container
            .row
                +column({cols: [6, 6, 12, 12]})
                    .ps-section__header.mb-50
                        h2.ps-section__title(data-mask="Contact") - Get in touch
                        form(action="do_action" method="post" class="ps-contact__form")
                            .row    
                                +column({cols: [6, 6, 6, 12]})
                                    .form-group
                                        label Name <sub>*</sub>
                                        input.form-control(type="text" placeholder="")
                                +column({cols: [6, 6, 6, 12]})
                                    .form-group
                                        label Email <sub>*</sub>
                                        input.form-control(type="email" placeholder="")
                                +column({cols: [12, 12, 12, 12]})
                                    .form-group.mb-25
                                        label Your Message <sub>*</sub>
                                        textarea.form-control(rows="6")
                                    .form-group
                                        button.ps-btn Send Message
                                            i.ps-icon-next
                +column({cols: [6, 6, 12, 12]})
                    .ps-section__content
                        .row
                            +column({cols: [6, 6, 6, 12]})
                                .ps-contact__block(data-mh="contact-block")
                                    header
                                        h3 USA <span> San Francisco</span>
                                    footer
                                        p <i class="fa fa-map-marker"></i> 19C Trolley Square  Wilmington, DE 19806
                                        p <i class="fa fa-envelope-o"></i>
                                            a(href='mailto@supportShoes@shoes.net') supportShoes@shoes.net
                                        p <i class="fa fa-phone"></i> ( +84 ) 9892 2324  -  9401 123 003
                            +column({cols: [6, 6, 6, 12]})
                                .ps-contact__block(data-mh="contact-block")
                                    header
                                        h3 Ireland  <span> Dublin</span>
                                    footer
                                        p <i class="fa fa-map-marker"></i> 19C Trolley Square  Wilmington, DE 19806
                                        p <i class="fa fa-envelope-o"></i>
                                            a(href='mailto@supportShoes@shoes.net') supportShoes@shoes.net
                                        p <i class="fa fa-phone"></i> ( +84 ) 9892 2324  -  9401 123 003
                            +column({cols: [6, 6, 6, 12]})
                                .ps-contact__block(data-mh="contact-block")
                                    header
                                        h3 Brazil <span> São Paulo</span>
                                    footer
                                        p <i class="fa fa-map-marker"></i> 19C Trolley Square  Wilmington, DE 19806
                                        p <i class="fa fa-envelope-o"></i>
                                            a(href='mailto@supportShoes@shoes.net') supportShoes@shoes.net
                                        p <i class="fa fa-phone"></i> ( +84 ) 9892 2324  -  9401 123 003
                            +column({cols: [6, 6, 6, 12]})
                                .ps-contact__block(data-mh="contact-block")
                                    header
                                        h3 Philippines <span> Quezon City</span>
                                    footer
                                        p <i class="fa fa-map-marker"></i> 19C Trolley Square  Wilmington, DE 19806
                                        p <i class="fa fa-envelope-o"></i>
                                            a(href='mailto@supportShoes@shoes.net') supportShoes@shoes.net
                                        p <i class="fa fa-phone"></i> ( +84 ) 9892 2324  -  9401 123 003


