.dr-accordion.panel-group.mt-30(id="accordion" role="tablist" aria-multiselectable="true")
    .panel.panel-default
        .panel-heading(role="tab" id="headingOne")
            h4(class="panel-title")
                a(role="button" data-toggle="collapse" data-parent="#accordion" href="#panel01" aria-expanded="true" aria-controls="panel01") Nasal Septal Hematoma
                    i.fa.fa-angle-right
        .panel-collapse.collapse.in(id="panel01"  role="tabpanel" aria-labelledby="headingOne")
            .panel-body
                .row
                    .col-md-6.col-sm-12
                        p A nasal septal hematoma is one of the most feared complication that can occur with nasal trauma. Though uncommon, a septal hematoma can lead to complications such as septal abscess, septal perforation, cartilage necrosis with potential saddle nose deformity. A nasal septal hematoma can be usually diagnosed with a careful clinical examination using a good light source with a nasal speculum. A fluctuant reddish-blue swelling can be noted on the anterior part of the nasal septum drainage of the hematoma should be performed urgently to prevent complications as mentioned above.
                    .col-md-6.col-sm-12
                        img(src='img/tempt/sections/adult.jpg' alt='')
    .panel.panel-default
        .panel-heading(role="tab")
            h4(class="panel-title")
                a(role="button" data-toggle="collapse" data-parent="#accordion" href="#panel02"  aria-controls="panel02") Collapsible Nasal Fracture
                    i.fa.fa-angle-right
        .panel-collapse.collapse(id="panel02"  role="tabpanel" aria-labelledby="headingTwo")
            .panel-body
                p Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
    .panel.panel-default
        .panel-heading(role="tab")
            h4(class="panel-title")
                a(role="button" data-toggle="collapse" data-parent="#accordion" href="#panel03  "  aria-controls="panel03") Collapsible Nasal Deformities
                    i.fa.fa-angle-right
        .panel-collapse.collapse(id="panel03"  role="tabpanel" aria-labelledby="headingTwo")
            .panel-body
                p Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 w