block common
    .mega-menu: .mega-wrap
        .mega-column
            ul.mega-item.mega-features
                li: a(href='product-listing.html') NEW RELEASES
                li: a(href='product-listing.html') FEATURES SHOES
                li: a(href='product-listing.html') BEST SELLERS
                li: a(href='product-listing.html') NOW TRENDING
                li: a(href='product-listing.html') SUMMER ESSENTIALS
                li: a(href='product-listing.html') MOTHER'S DAY COLLECTION
                li: a(href='product-listing.html') FAN GEAR
        .mega-column
            h4.mega-heading Shoes
            ul.mega-item
                li: a(href='product-listing.html') All Shoes
                li: a(href='product-listing.html') Running
                li: a(href='product-listing.html') Training & Gym
                li: a(href='product-listing.html') Basketball
                li: a(href='product-listing.html') Football
                li: a(href='product-listing.html') Soccer
                li: a(href='product-listing.html') Baseball
        .mega-column
            h4.mega-heading CLOTHING
            ul.mega-item
                li: a(href='product-listing.html') Compression & Nike Pro
                li: a(href='product-listing.html') Tops & T-Shirts
                li: a(href='product-listing.html') Polos
                li: a(href='product-listing.html') Hoodies & Sweatshirts
                li: a(href='product-listing.html') Jackets & Vests
                li: a(href='product-listing.html') Pants & Tights
                li: a(href='product-listing.html') Shorts
        .mega-column
            h4.mega-heading Accessories
            ul.mega-item
                li: a(href='product-listing.html') Compression & Nike Pro
                li: a(href='product-listing.html') Tops & T-Shirts
                li: a(href='product-listing.html') Polos
                li: a(href='product-listing.html') Hoodies & Sweatshirts
                li: a(href='product-listing.html') Jackets & Vests
                li: a(href='product-listing.html') Pants & Tights
                li: a(href='product-listing.html') Shorts
        .mega-column
            h4.mega-heading BRAND
            ul.mega-item
                li: a(href='product-listing.html') NIKE
                li: a(href='product-listing.html') Adidas
                li: a(href='product-listing.html') Dior
                li: a(href='product-listing.html') B&G


