html .bg--parallax {
    position: relative;
    z-index: 10;
    background-attachment: fixed !important;
    background-repeat: no-repeat !important;
    background-position: 50% 50%;
    background-size: cover !important;
}

.bg--cover {
    background-position: 50% 50% !important;
    background-size: cover !important;
}

.bg--overlay {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.5;
    background-color: #000;
    z-index: -5;
}

