.margin-0 {
    margin: 0;
}

@for $i from 0 through 20 {
    .mt-#{$i * 5} {
        margin-top: ($i * 5 + px);
    }
}

@for $i from 0 through 20 {
    .mr-#{$i * 5} {
        margin-right: ($i * 5 + px);
    }
}

@for $i from 0 through 20 {
    .mb-#{$i * 5} {
        margin-bottom: ($i * 5 + px);
    }
}

@for $i from 0 through 20 {
    .ml-#{$i * 5} {
        margin-left: ($i * 5 + px);
    }
}
