* {
    font-family: $font-1st;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    position: relative;
    color: #303030;
    margin-bottom: 0;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 22px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 12px;
}

p {
    font-size: 14px;
    line-height: 1.5em;
    color: #999;
    span {
        font-family: inherit;
        color: inherit;
        font-size: inherit;
    }
}

a {
    color: inherit;
    text-decoration: none;
    @include transition(all 0.4s ease);
    &:hover {
        color: $color-1st;
    }
}

a,
input,
textarea,
button,
select {
    outline: none;
}

a:hover,
h1:focus,
h2:focus,
h3:focus,
h4:focus,
h5:focus,
h6:focus {
    text-decoration: none;
}

a:focus,
button:focus,
select:focus,
input:focus,
textarea:focus {
    outline: none;
    text-decoration: none;
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

.fw-300 {
    font-weight: 300;
}

.fw-500 {
    font-weight: 500;
}

.fw-700 {
    font-weight: 700;
}

.fw-800 {
    font-weight: 800;
}

.fw-900 {
    font-weight: 900;
}

img {
    max-width: 100%;
}

iframe {
    border: 0;
    max-width: 100%;
    width: 100%;
}

.ps-product-link {
    font-family: $font-1st;
    font-size: 14px;
    text-align: center;
    color: $color-1st;
    text-transform: uppercase;
}

.ps-post--detail .ps-post__content {
    h1, h2, h3, h4, h5, h6 {
        margin-top: 0;
        margin-bottom: 10px;
    }
    ul {
        list-style: disc;
        padding-left: 20px;
        li {
            line-height: 1.6em;
        }
    }
    ol {
        list-style: decimal;
        padding-left: 20px;
        li {
            line-height: 1.6em;
        }
    }
    p {
        strong {
            color: #303030;
            em {
                color: $color-text;
            }
        }
    }
}