# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# npm artifacts
acorn
acorn.cmd
acorn.ps1
ansi-html
ansi-html.cmd
ansi-html.ps1
atob
atob.cmd
atob.ps1
autoprefixer
autoprefixer.cmd
autoprefixer.ps1
babylon
babylon.cmd
babylon.ps1
browserslist
browserslist.cmd
browserslist.ps1
cross-env
cross-env-shell
cross-env-shell.cmd
cross-env-shell.ps1
cross-env.cmd
cross-env.ps1
css-blank-pseudo
css-blank-pseudo.cmd
css-blank-pseudo.ps1
css-has-pseudo
css-has-pseudo.cmd
css-has-pseudo.ps1
css-prefers-color-scheme
css-prefers-color-scheme.cmd
css-prefers-color-scheme.ps1
cssesc
cssesc.cmd
cssesc.ps1
detect
detect-port
detect-port.cmd
detect-port.ps1
detect.cmd
detect.ps1
errno
errno.cmd
errno.ps1
escodegen
escodegen.cmd
escodegen.ps1
esgenerate
esgenerate.cmd
esgenerate.ps1
eslint
eslint.cmd
eslint.ps1
esparse
esparse.cmd
esparse.ps1
esvalidate
esvalidate.cmd
esvalidate.ps1
extract-zip
extract-zip.cmd
extract-zip.ps1
he
he.cmd
he.ps1
html-minifier-terser
html-minifier-terser.cmd
html-minifier-terser.ps1
import-local-fixture
import-local-fixture.cmd
import-local-fixture.ps1
is-ci
is-ci.cmd
is-ci.ps1
is-docker
is-docker.cmd
is-docker.ps1
jest
jest-runtime
jest-runtime.cmd
jest-runtime.ps1
jest.cmd
jest.ps1
js-yaml
js-yaml.cmd
js-yaml.ps1
jsesc
jsesc.cmd
jsesc.ps1
json5
json5.cmd
json5.ps1
loose-envify
loose-envify.cmd
loose-envify.ps1
lz-string
lz-string.cmd
lz-string.ps1
miller-rabin
miller-rabin.cmd
miller-rabin.ps1
mime
mime.cmd
mime.ps1
mkdirp
mkdirp.cmd
mkdirp.ps1
multicast-dns
multicast-dns.cmd
multicast-dns.ps1
nanoid
nanoid.cmd
nanoid.ps1
node-which
node-which.cmd
node-which.ps1
parser
parser.cmd
parser.ps1
ps-tree
ps-tree.cmd
ps-tree.ps1
regjsparser
regjsparser.cmd
regjsparser.ps1
rimraf
rimraf.cmd
rimraf.ps1
rollup
rollup.cmd
rollup.ps1
sane
sane.cmd
sane.ps1
semver
semver.cmd
semver.ps1
sha.js
sha.js.cmd
sha.js.ps1
sshpk-conv
sshpk-conv.cmd
sshpk-conv.ps1
sshpk-sign
sshpk-sign.cmd
sshpk-sign.ps1
sshpk-verify
sshpk-verify.cmd
sshpk-verify.ps1
svgo
svgo.cmd
svgo.ps1
terser
terser.cmd
terser.ps1
uuid
uuid.cmd
uuid.ps1
wait-on
wait-on.cmd
wait-on.ps1
watch
watch.cmd
watch.ps1
webpack
webpack-dev-server
webpack-dev-server.cmd
webpack-dev-server.ps1
webpack.cmd
webpack.ps1