.ps-offer {
    display: block;
    position: relative;
    overflow: hidden;
    img {
        @include transition(all .4s ease);
        @include transform(scale3d(1.05, 1.05, 1));
    }
    &:before {
        content: '';
        @include max-area();
        background-color: rgba(#fff, .5);
        @include transform(scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -120%, 0));
        @include transition(all .6s ease);
    }
    &:hover {
        img {
            @include transform(scale3d(1, 1, 1));
        }
        &:before {
            @include transform(scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 120%, 0));
        }
    }
}