.ps-cart__table {
    > tbody {
        > tr {
            > td {
                position: relative;
                vertical-align: middle !important;
                .ps-product__preview {
                    font-family: $font-2nd;
                    font-size: 16px;
                    line-height: 1.5;
                    color: #000000;
                    text-transform: uppercase;
                    &:hover {
                        color: $color-1st;
                    }
                }
            }
        }
    }
}

.ps-table--compare {
    table.table {
        border: 1px solid #e1e1e1;
        tbody {
            > tr {
                > td {
                    padding: 20px 30px;
                    border: 1px solid #e1e1e1;
                    font-weight: 500 !important;
                    color: #000;
                    text-transform: uppercase;
                    &:first-child {
                        background-color: #f5f5f5;
                        border-color: #e1e1e1;
                        text-transform: uppercase;
                        color: #000;
                        font-size: 18px;
                        font-weight: 700;
                        vertical-align: middle !important;
                    }
                    .price {
                        font-size: 18px;
                        font-weight: 500;
                        color: #2ac27d;
                    }
                    .status {
                        font-size: 18px;
                        font-weight: 500;
                        color: #989898;
                        text-transform: uppercase;
                        &.in-stock {
                            color: $color-1st;
                        }
                    }
                }
            }
        }
    }
}

.ps-table--whishlist {
    .ps-cart__table {
        > tbody {
            > tr {
                > td {
                    font-weight: 500;
                    color: #8d8d8d;
                    &:first-child() {
                        width: 30%;
                    }
                }
            }
        }
    }
}
