.ps-tags {
    li {
        display: inline-block;
        a {
            display: inline-block;
            margin-bottom: 10px;
            margin-right: 10px;
            padding: 5px 20px;
            color: #626262;
            font-size: 12px;
            letter-spacing: .2px;
            line-height: 15px;
            background-color: #e5e5e5;
            &:hover {
                color: #fff;
                background-color: $color-1st;
            }
        }
    }
}