.ps-section--sale-off.ps-section.pt-80.pb-40
    .ps-container
        .ps-section__header.mb-50
            h3.ps-section__title(data-mask='Sale off') - Hot Deal Today
        .ps-section__content
            .row
                +column({cols: [6, 12, 12, 12]})
                    .ps-hot-deal
                        h3 Nike DUNK Max 95 OG
                        p.ps-hot-deal__price Only:  <span>£155</span>
                        ul.ps-countdown(data-time="December 13, 2017 15:37:25")
                            li <span class="hours"></span><p>Hours</p>
                            li.divider :
                            li <span class="minutes"></span><p>minutes</p>
                            li.divider :
                            li <span class="seconds"></span><p>Seconds</p>
                        a(href='#').ps-btn Order Today
                            i.ps-icon-next
                +column({cols: [6, 12, 12, 12]})
                    .ps-hotspot
                        a(href='javascript:;').point.first.active
                            i.fa.fa-plus
                            .ps-hotspot__content
                                p.heading JUMP TO HEADER
                                p Dynamic Fit Collar en la zona del tobillo que une la parte inferior de la pierna y el pie sin reducir la libertad de movimiento.
                        a(href='javascript:;').point.second
                            i.fa.fa-plus
                            .ps-hotspot__content
                                p.heading JUMP TO HEADER
                                p Dynamic Fit Collar en la zona del tobillo que une la parte inferior de la pierna y el pie sin reducir la libertad de movimiento.
                        a(href='javascript:;').point.third
                            i.fa.fa-plus
                            .ps-hotspot__content
                                p.heading JUMP TO HEADER
                                p Dynamic Fit Collar en la zona del tobillo que une la parte inferior de la pierna y el pie sin reducir la libertad de movimiento.
                        img(src="images/hot-deal.png" alt="")
