include ../../data/post
.ps-section.ps-home-blog.pt-80.pb-80
    .ps-container
        .ps-section__header.mb-50
            h2.ps-section__title(data-mask="News") - Our Story
            .ps-section__action: a(href='#').ps-morelink.text-uppercase View all post
                i.fa.fa-long-arrow-right
        .ps-section__content
            .row
                each val in home_blog
                    +column({cols: [4, 4, 12, 12]})
                        .ps-post
                            .ps-post__thumbnail
                                a(href='blog-detail.html').ps-post__overlay
                                img(src=val.imagepath alt="")
                            .ps-post__content
                                a(href='blog-detail.html').ps-post__title #{val.title}
                                p.ps-post__meta
                                    span By:
                                        a(href='blog.html').mr-5 Alena Studio
                                    |  -
                                    span.ml-5 Jun 10, 2017
                                p #{val.description}
                                a(href='blog-detail.html').ps-morelink Read more
                                    i.fa.fa-long-arrow-right
