.ps-section--offer
    .ps-column: a(href='product-listing.html').ps-offer: img(src="images/banner/home-banner-1.png" alt="")
    .ps-column: a(href='product-listing.html').ps-offer: img(src="images/banner/home-banner-2.png" alt="")