.ps-features.pt-80.pb-80.bg--cover(data-background="images/background/parallax.jpg")
    .ps-container
        .row
            +column({cols: [4, 4, 4, 12]})
                .ps-iconbox.ps-iconbox--inverse
                    .ps-iconbox__header
                        i.ps-icon-delivery
                        h3 Free shipping
                        p ON ORDER OVER $199
                    .ps-iconbox__content
                        p Want to track a package? Find tracking information and order details from Your Orders.
            +column({cols: [4, 4, 4, 12]})
                .ps-iconbox.ps-iconbox--inverse
                    .ps-iconbox__header
                        i.ps-icon-money
                        h3 100% MONEY BACK.
                        p WITHIN 30 DAYS AFTER DELIVERY.
                    .ps-iconbox__content
                        p You may return most new, unopened items sold within 30 days of delivery for a full refund.
            +column({cols: [4, 4, 4, 12]})
                .ps-iconbox.ps-iconbox--inverse
                    .ps-iconbox__header
                        i.ps-icon-customer-service
                        h3 SUPPORT 24/7.
                        p WE CAN HELP YOU ONLINE.
                    .ps-iconbox__content
                        p We offer a 24/7 customer hotline so you’re never alone if you have a question.