.ps-section.masonry-root.pt-80.pb-40
    .ps-container
        .ps-section__header.mb-50
            h3.ps-section__title(data-mask='Promotion') - Our Event
        .ps-section__content.pb-50
            .masonry-wrapper(data-col-md="3" data-col-sm="2" data-col-xs='1' data-gap="30" data-radio='100%')
                .ps-masonry
                    .grid-sizer
                    .grid-item: .grid-item__content-wrapper: a(href='product-detail.html').ps-offer: img(src="images/offer/home-2-1.jpg" alt="")
                    .grid-item: .grid-item__content-wrapper: a(href='product-detail.html').ps-offer: img(src="images/offer/home-2-2.jpg" alt="")
                    .grid-item.high: .grid-item__content-wrapper: a(href='product-detail.html').ps-offer: img(src="images/offer/home-2-5.jpg" alt="")
                    .grid-item: .grid-item__content-wrapper: a(href='product-detail.html').ps-offer: img(src="images/offer/home-2-3.jpg" alt="")
                    .grid-item: .grid-item__content-wrapper: a(href='product-detail.html').ps-offer: img(src="images/offer/home-2-4.jpg" alt="")

