/*
    Project: Shoes Store
    Version: 1.4
    Date Created: 10/5/2017
    Date Updated: 8/9/2017
    Developed by: Nghia Luong Minh
    Website: http://minhnghia.info
    Email: minhnghiadev@gmail.com
*/

/*
    TABLE OF CONTENT
        1. RESET AND TYPHOGRAPHY
            1.1 Reset
            1.2 Typhography
        2. ELEMENTS
            2.1 Grid
            2.2 List
            2.3 Form
            2.4 Rating
            2.5 Block
            2.6 Post
            2.7 Banner
            2.8 Testimonial
            2.9 Widget
            2.10 Shoe
            2.11 Badge
            2.12 masonry
            2.13 hotspot
            2.14 pagination
            2.15 tags
            2.16 user
            2.17 review
            2.18 comment
            2.19 iconbox
            2.20 filter
            2.21 offer
            2.22 table
            2.23 loader
            2.24 section
        3.COMPONENTS
          3.1 navigation
          3.2 subscribe
          3.3 cart
          3.4 search
          3.5 contact
        4. MODULES
            4.1 header
            4.2 footer
            4.3 product
            4.4 404
        5. FRAMES & OVERWRITE
           5.1 background
           5.2 margin
           5.3 padding
*/
// Mixins & Library (SASS- SCSS LIBRARY)
@import "vendor/bourbon/bourbon";
@import "utils/mixin";
@import "vendor/masonry_grid";
@import "vendor/media_query";

@import "utils/variable";

/*1. RESET AND TYPHOGRAPHY*/
@import "base/reset";
@import "base/typhography";

/*2. ELEMENTS*/
@import "elements/grid";
@import "elements/list";
@import "elements/form";
@import "elements/button";
@import "elements/rating";
@import "elements/block";
@import "elements/post";
@import "elements/banner";
@import "elements/testimonial";
@import "elements/widget";
@import "elements/shoe";
@import "elements/badge";
@import "elements/masonry";
@import "elements/hotspot";
@import "elements/pagination";
@import "elements/tags";
@import "elements/user";
@import "elements/review";
@import "elements/comment";
@import "elements/iconbox";
@import "elements/filter";
@import "elements/offer";
@import "elements/table";
@import "elements/loader";
@import "elements/section";

/*3.COMPONENTS*/
@import "components/navigation";
@import "components/subscribe";
@import "components/cart";
@import "components/search";
@import "components/contact";

/*4. MODULES*/
@import "modules/header";
@import "modules/footer";
@import "modules/product";
@import "modules/404";

/*5. FRAMES & OVERWRITE*/
@import "frames/background";
@import "frames/margin";
@import "frames/padding";
