link(rel="stylesheet", href="plugins/bootstrap/dist/css/bootstrap.min.css")
link(rel="stylesheet", href="plugins/owl-carousel/assets/owl.carousel.css")
link(rel="stylesheet", href="plugins/jquery-bar-rating/dist/themes/fontawesome-stars.css")
link(rel="stylesheet", href="plugins/slick/slick/slick.css")
link(rel="stylesheet", href="plugins/bootstrap-select/dist/css/bootstrap-select.min.css")
link(rel="stylesheet", href="plugins/Magnific-Popup/dist/magnific-popup.css")
link(rel="stylesheet", href="plugins/jquery-ui/jquery-ui.min.css")

link(rel="stylesheet", href="plugins/revolution/css/settings.css")
link(rel="stylesheet", href="plugins/revolution/css/layers.css")
link(rel="stylesheet", href="plugins/revolution/css/navigation.css")
// Custom
link(rel="stylesheet", href="css/style.css")
