.ps-pagination
    ul.pagination
        li: a(href="#"): i.fa.fa-angle-left
        li.active: a(href="#") 1
        li: a(href="#") 2
        li: a(href="#") 3
        li: a(href="#") ...
        li: a(href="#"): i.fa.fa-angle-right