.ps-comments
    h3 Comment(4)
    .ps-comment
        .ps-comment__thumbnail
            img(src="images/user/2.jpg" alt="")
        .ps-comment__content
            header
                h4 MARK GREY <span>(15 minutes ago)</span>
                a(href='#') Reply
                    i.ps-icon-arrow-left
            p The development of the mass spectrometer allowed the mass of atoms to be measured with increased accuracy. The device uses the launch and continued operation of the Hubble space telescope probably.
    .ps-comment.ps-comment--reply
        .ps-comment__thumbnail
            img(src="images/user/3.jpg" alt="")
        .ps-comment__content
            header
                h4 MARK GREY <span>(3 hours ago)</span>
                a(href='#') Reply
                    i.ps-icon-arrow-left
            p The development of the mass spectrometer allowed the mass of atoms to be measured with increased accuracy. The device uses  continue ace explore.
    .ps-comment
        .ps-comment__thumbnail
            img(src="images/user/4.jpg" alt="")
        .ps-comment__content
            header
                h4 MARK GREY <span>(1 day ago)</span>
                a(href='#') Reply
                    i.ps-icon-arrow-left
            p The development of the mass spectrometer allowed the mass of atoms to be measured with increased accuracy. The device uses the launch and continued operation of the Hubble space telescope probably.