-
    ourteam = [
        {
            imagepath: 'images/team/1.png',
            name: 'Mitchell Blair',
            position: 'CEO & FOUNDER',
        },
        {
            imagepath: 'images/team/2.png',
            name: 'Nellie Cook',
            position: 'DIRECTOR',
        },
        {
            imagepath: 'images/team/3.png',
            name: 'Frances Austin',
            position: 'Designer',
        },
        {
            imagepath: 'images/team/4.png',
            name: 'Corey Greene',
            position: 'Designer',
        },
    ]