-
    data_navigation = [
        {
            text: 'Home',
            url : 'index.html',
            current: 'contact',
            extraClass: 'menu-item-has-children dropdown',
            subClass: 'sub-menu',
            subMenu : [
                {
                    url: 'index.html',
                    text: 'Homepage #1'
                },
                {
                    url: 'homepage-2.html',
                    text: 'Homepage #2'
                },
                {
                    url: 'homepage-3.html',
                    text: 'Homepage #3'
                },
            ],
        },
        {
            text: 'Men',
            url : '#',
            current: 'men',
            extraClass: 'menu-item-has-children has-mega-menu',
            mega: true
        },
        {
            text: 'Women',
            url : '#',
            current: 'product'
        },
        {
            text: 'Kids',
            url : '#',
            current: 'product'
        },
        {
            text: 'News',
            url : '#',
            extraClass: 'menu-item-has-children dropdown',
            subClass: 'sub-menu',
            current: 'blog',
            subMenu : [
                {
                    url: 'blog-grid.html',
                    text: 'Blog-grid',
                    extraClass: 'menu-item-has-children dropdown',
                    subClass: 'sub-menu',
                    subMenu : [
                        {
                            url: 'blog-grid.html',
                            text: 'Blog Grid 1'
                        },
                         {
                            url: 'blog-grid-2.html',
                            text: 'Blog Grid 2'
                        },
                    ]
                },
                {
                    url: 'blog-list.html',
                    text: 'Blog List'
                },
            ],

        },
        {
            text: 'Contact',
            url : '#',
            current: 'contact',
            extraClass: 'menu-item-has-children dropdown',
            subClass: 'sub-menu',
            subMenu : [
                {
                    url: 'contact-us.html',
                    text: 'Contact Us #1'
                },
                {
                    url: 'contact-us.html',
                    text: 'Contact Us #2'
                },
            ],
        },
    ]