-
    pages = [
        {
            text: "Homepage ",
            url: 'index.html'
        },
        {
            text: "Homepage 2",
            url: 'homepage-2.html'
        },
        {
            text: "Homepage 3",
            url: 'homepage-3.html'
        },
        {
            text: "blog grid",
            url: 'blog-grid.html'
        },
        {
            text: "blog grid 2",
            url: 'blog-grid-2.html'
        },
        {
            text: "Blog List",
            url: 'blog-list.html'
        },
        {
            text: "Blog Detail",
            url: 'blog-detail.html'
        },

        {
            text: "contact-us",
            url: 'contact-us.html'
        },
        {
            text: "contact-us 2",
            url: 'contact-us-2.html'
        },
        {
            text: "Product Detail",
            url: 'product-detail.html'
        },
        {
            text: "Product Listing",
            url: 'product-listing.html'
        },
        {
            text: "404",
            url: '404.html'
        },
        {
            text: "About",
            url: 'about.html'
        },
        {
            text: "Cart",
            url: 'cart.html'
        },
        {
            text: "Checkout",
            url: 'checkout.html'
        },
        {
            text: "Whishlist",
            url: 'whishlist.html'
        },
        {
            text: "Compare",
            url: 'compare.html'
        },
    ]