-
    home_blog = [
        {
            imagepath: 'images/blog/1.jpg',
            title: 'An Inside Look at the Breaking2 Kit',
            description: 'Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further…',
        },
        {
            imagepath: 'images/blog/2.jpg',
            title: 'Unpacking the Breaking2 Race Strategy',
            description: 'Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further…',
        },
        {
            imagepath: 'images/blog/3.jpg',
            title: 'Nike’s Latest Football Cleat Breaks the Mold',
            description: 'Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further…',
        },
    ]
-
    blog_list = [
        {
            imagepath: 'images/blog/4.jpg',
            title: 'Unpacking the Breaking 2 Race Strategy',
            description: 'Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further, Support Sports Bra has a compression fit and V-back straps that give you medium support and full range of motion during your workout….',
        },
        {
            imagepath: 'images/blog/5.jpg',
            title: 'Leverage agile frameworks to provide a robust synopsis',
            description: 'Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further, Support Sports Bra has a compression fit and V-back straps that give you medium support and full range of motion during your workout….',
        },
        {
            imagepath: 'images/blog/3.jpg',
            title: 'Nike’s Latest Football Cleat Breaks the Mold',
            description: 'Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further, Support Sports Bra has a compression fit and V-back straps that give you medium support and full range of motion during your workout….',
        },
        {
            imagepath: 'images/blog/4.jpg',
            title: 'Breaking Down the Black Rose Tech Fleece Collection',
            description: 'Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further, Support Sports Bra has a compression fit and V-back straps that give you medium support and full range of motion during your workout….',
        },
        {
            imagepath: 'images/blog/5.jpg',
            title: 'The Shoes Athletes Say Will Change the Future of Running',
            description: 'Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further, Support Sports Bra has a compression fit and V-back straps that give you medium support and full range of motion during your workout….',
        }
    ]